html, body {
    margin: 0;
    height: 100%;
    background: #eff1f4;
}

.container-main {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    height: 100%;
}