html,
body {
    margin: 0;
    height: 100%;
    background: #eff1f4;
}

.container-header {
    display: flex;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    justify-content: space-between;
    position: static;
    width: 100%;
}

.container-header a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin: 0;
    margin-left: 0px;
    font-size: 0.75em;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1em;
    border-bottom: solid black;
    border-bottom-width: medium;
    border-bottom-width: 2px;
}

.container {
    /* border: solid 2px black; */
    /* width: 60em;
    height: 22em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: .25em;
    background: white;
    margin-top: 1rem;
}

.container-main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100%;
}

.d-table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin: 0;
}

.d-table ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

.d-header {
    background-color: #4d555d;
    color: #ffffff;
    height: 3rem;
    line-height: 3rem !important;
}

.d-row {
    display: flex;
    height: 2rem;
    overflow: hidden;
    border-bottom: solid 1px #eef0f2;
}

.d-col {
    padding-left: .5rem;
    height: 2rem;
    line-height: 2rem;
}

.d-col-1 {
    width: 10%;
}

.d-col-2 {
    width: 20%;
}

.d-col-3 {
    width: 50%;
}

.d-col-4 {
    width: 10%;
}

.d-col-5 {
    width: 5%;
    font-weight: 900;
    color: green;
}

.d-col a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.d-col-6 {
    width: 5%;
    font-weight: 900;
    color: red;
}

.container-form {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #E9EBEE;
    border-radius: 2px;
    margin-top: 2rem;
}

.container-form form {
    margin: 1rem 2rem;

}

.form-header {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: #4d555d;
    color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.form-group label,
.form-group .form-control {
    width: 100%;
}

.alert-box {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
}

.success {
    background-color: green;
}

.btn-group {
    float: right;
}

.close-btn {
    padding-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn {
    border-radius: 2px;
    transition: all 0.2s ease-out;
    border: 1px solid #39434b;
    border-top-color: rgb(57, 67, 75);
    border-right-color: rgb(57, 67, 75);
    border-bottom-color: rgb(57, 67, 75);
    border-left-color: rgb(57, 67, 75);
    background-color: transparent;
    color: #39434b;
    padding: 9px 40px;
}

.btn.btn-primary {
    background-color: #009DFA;
    border-color: #009DFA;
    color: #fff;
}

.btn-secondary {
    color: #9CA9B4;
    border-color: #9CA9B4;;
}

.form-group .btn {
    width: 50%;
    padding: 9px 0;
    margin: 0 2%;
}

a.btn {
    text-align: center;
    text-decoration: none;
}

.row {
    min-width: 800px;
    display: inline-flex;
}

.col {
    height: 4rem;
    line-height: 4rem;
    width: 100%;
}

.row>.btn {
    display: inline-flex;
}


.subpage-header {
    color: #39434b;
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.dropdown {
    display: inline;
    padding: 10px 0;
    background-color: #009DFA;
    border-color: #009DFA;
    color: #fff;
    border-radius: 3px;
}

.dropdown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-repeat: no-repeat;
    background-size: 0.5em auto;
    background-position: right 0.25em center;
    padding-right: 1em;

    border: 0px;
    outline: 0px;
    background-color: inherit;
    color: inherit;

    background-image: url("data:image/svg+xml;charset=utf-8, \
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
        <polygon points='0,0 60,0 30,40' style='fill:black;'/> \
      </svg>");
}