html,
body {
    margin: 0;
    height: 100%;
    background: #eff1f4;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.d-table {
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin: 0;
}

.d-table ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    margin: 0;
}

.d-header {
    background-color: #4d555d;
    color: #ffffff;
    height: 3rem;
    line-height: 3rem !important;
}

.d-row {
    display: flex;
    height: 2rem;
    overflow: hidden;
    border-bottom: solid 1px #eef0f2;
}

.d-col {
    padding-left: .5rem;
    height: 2rem;
    line-height: 2rem;
}

.d-col-1 {
    width: 10%;
}

.d-col-2 {
    width: 20%;
}

.d-col-3 {
    width: 50%;
}

.d-col-4 {
    width: 10%;
}

.d-col-5 {
    width: 5%;
    font-weight: 900;
    color: green;
}

.d-col-6 {
    width: 5%;
    font-weight: 900;
    color: red;
}

.container-form {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #E9EBEE;
    padding: 0px 15px 40px;
    border-radius: 2px;
}

.form-header {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}


.alert-box {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    min-width: 800px;
    font-size: 15px;
    line-height: 1.5;
}

.success {
    background-color: green;
}


.close-btn {
    padding-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn {
    border-radius: 2px;
    transition: all 0.2s ease-out;
    border: 1px solid #39434b;
    border-top-color: rgb(57, 67, 75);
    border-right-color: rgb(57, 67, 75);
    border-bottom-color: rgb(57, 67, 75);
    border-left-color: rgb(57, 67, 75);
    background-color: transparent;
    color: #39434b;
    padding: 9px 40px;
}

.btn.btn-primary {
    background-color: #009DFA;
    border-color: #009DFA;
    color: #fff;
}

a.btn {
    text-align: center;
    text-decoration: none;
}

.row {
    min-width: 800px;
    display: inline-flex;
}

.col {
    height: 4rem;
    line-height: 4rem;
    width: 100%;
}

.row>.btn {
    display: inline-flex;
}


.subpage-header {
    color: #39434b;
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.dropdown {
    display: inline;
    padding: 0.5rem 0;
    background-color: #009DFA;
    border-color: #009DFA;
    color: #fff;
    border-radius: 3px;
}

.dropdown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-repeat: no-repeat;
    background-size: 0.5em auto;
    background-position: right 0.25em center;
    padding-right: 1em;

    border: 0px;
    outline: 0px;
    background-color: inherit;
    color: inherit;

    background-image: url("data:image/svg+xml;charset=utf-8, \
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
        <polygon points='0,0 60,0 30,40' style='fill:black;'/> \
      </svg>");
}